body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}

/* global */

.flex {
  display: flex;    
}

.title {
  font-family: 'Roboto', sans-serif;
}

.img-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/* hero */

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url('../img/hero.jpeg');
}

.logo {
  margin-top: 110px;
}

.title-hero {
  margin-top: 120px;
  font-size: 60px;
}

.hero-dscr {
  max-width: 700px;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}

/* main-descr */

.main-descr {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1020px;
  text-align: center;
}

.md-item {
  font-size: 48px;
}

/* shops-main */

.wrapper-shops {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.shops-bg1 {
  width: 600px;
  background-image: url('../img/shops1.jpg');
}

.shops-bg2 {
  width: 600px;
  background-image: url('../img/shops2.jpg');
}

.shops-bg3 {
  width: 600px;
  background-image: url('../img/shops3.jpg');
}

.shops-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  height: 405px;
  max-width: 31.3%;
}

/* events */

.wrapper-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events-descr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.events-drscr-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  max-width: 20%;
}

.events-lorem {
  margin: 20px 0;
}

/* menu */


.wrapper-menu {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chef_menu {
  width: 1140px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 505px;
  text-align: center;
}

.menu-item:nth-child(2n) {
  margin-right: 0;
}

.menu_foto {
  display: flex;
  max-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-par {
  width: 50%;
  background-image: url('../img/menu1.jpg');
}

.right-par {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.top-img-menu {
  height: 50%;
  width: 100%;
  background-image: url('../img/menu2.jpg');
}

.down-img-menu {
  height: 100%;
  display: flex;
}

.left-child {
  width: 50%;
  background-image: url('../img/menu3.jpg');
}

.right-child {
  width: 50%;
  background-image: url('../img/menu4.jpg');
}

.u-svg-link {
  fill: black;
  width: 100px;
  height: 100px;
}